@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    background-size: cover;
    overflow: hidden;
}

.container {
    display: flex;
    /* 화면을 유연하게 정렬할 수 있다. */
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* 방향: 세로 */
    align-items: center;
    /* 중앙 정렬 */
    justify-content: space-evenly;
    /* 양 끝으로 */
}

.question {
    width: 50%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    
}

.question > span {
    font-family: 'HANAMDAUM';
    font-size: 3rem;
    font-weight: 700;
}

.choice {
    display: none;
    width: 50%;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 기본축의 간격을 고르게 */
}

.choice-item {
    width: 100%;
    height: 30%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    font-family: 'HANAMDAUM';
    font-size: 2rem;
    font-weight: 700;
}

.choice-item:hover {
    background-color: rgba(255, 255, 255, 1);
}