@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-font: 'NanumSquareNeo-Variable';
}

body {
    background-size: cover;
    overflow: hidden;
}

.container {
    display: flex;
    /* 화면을 유연하게 정렬할 수 있다. */
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* 방향: 세로 */
    align-items: center;
    /* 중앙 정렬 */
    justify-content: space-evenly;
    /* 양 끝으로 */
}

.question {
    width: 50%;
    height: 20vh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    animation: fadein 3s;
    background: url('../image/q_bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.question > span {
    font-family: var(--main-font);
    font-size: 2.3rem;
    font-weight: 200;
    text-align: center;
    color: black;
    transform: translateY(-20%);
    opacity: 1;
}

.choice {
    display: none;
    width: 50%;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 기본축의 간격을 고르게 */
    animation: fadein 3s;
}

.choice-item {
    width: 100%;
    height: 30%;
    border-radius: 20px;
    background: url('../image/c_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 700;
    animation: vibrationLeft .2s infinite;
    text-align: center;
    font-weight: 100;
    cursor: pointer;
}

.choice-item:nth-child(2) {
    animation: vibrationRight .3s infinite;
}

@keyframes vibrationLeft {
    from {
      transform: rotate(-0.2deg)
    }
    to {
      transform: rotate(0.2deg);
    }
  }

  @keyframes vibrationRight {
    from {
      transform: rotate(0.2deg)
    }
    to {
      transform: rotate(-0.2deg);
    }
  }

  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}