@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}

:root {
    --main-color: #FF4399;
    --main-font: 'NanumSquareNeo-Variable';
}

html,
body {
    width: 100%;    
    overflow-x: hidden;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.character-img {
    margin-top: calc(4vh + 100px);
    width: 30vw;
}

.result-title,
.round {
    position: absolute;
    top: 4vh;
    margin: 0 auto;
}

.result-title {
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: 800;
    margin-top: 40px;
}

.result-explain-container {
    width: 100%;
    margin-top: 30px;
    font-family: var(--main-font);
    font-size: 1.8rem;
    text-align: center;
    line-height: 130%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.result-description-title {
    font-weight: 600;
    font-size: 4rem;
}

.result-content {
    margin: 20px 0 0 0;
}

.result-tags {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 2.3rem;
    column-gap: 20px;
    justify-content: center;
    background-color: rgba(240, 106, 167, 0.24);
}

.tag-item {
    color: #000;
    font-weight: 100;
    margin-bottom: 40px;
}

.result-personals {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    width: 100%;
    margin: 0 0 40px 40px;
}

.relationship-container {
    display: flex;
    column-gap: 17vw;
    margin: 90px 0;
}

.good-container,
.bad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type {
    font-weight: 800;
    font-size: 1.3rem;
}

.relation-label {
    font-size: 2rem;
}

.type-img {
    width: 18vw;
    height: 18vw;
}

.restart {
    outline: none;
    border: 1px solid;
    border-color: var(--main-color);
    background-color: var(--main-color);
    width: 25vw;
    height: 7vh;   
    font-family: var(--main-font);
    font-size: 2rem;
    color: #000;
    transition: 0.3s;
    border-radius: 14px;
    cursor: pointer;
    margin-bottom: 5vh;
}   
