@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: rgba(255, 255, 255, 0.3);
    --black-color: #000;
    --main-font: 'NanumSquareNeo-Variable';
}

body {
    background: url('../image/bg2.png');
    background-size: cover;
    overflow: hidden;
    background-color: pink;
}

.container {
    display: flex;
    /* 화면을 유연하게 정렬할 수 있다. */
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* 방향: 세로 */
    align-items: center;
    /* 중앙 정렬 */
    justify-content: space-evenly;
    /* 양 끝으로 */
}

.question {
    width: 50%;
    height: 20vh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    animation: fadein 3s;
    background-color: rgba(252, 223, 235, 0.7);
    opacity: 0.8;
}

.question > span {
    font-family: var(--main-font);
    font-size: 2.3rem;
    font-weight: 200;
    text-align: center;
    color: black;
    transform: translateY(-20%);
    opacity: 1;
}

.seat-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 20px;
}

.seat-container > *{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFF;
    background-color: var(--background-color);
}


.board {
    grid-column: 1 / span 3;
}

.cleaner {
    grid-column: 3 / 5;
}

.seat {
    font-family: var(--main-font);
    font-size: 2rem;
    transition: 0.2s;
    background-color: #FFF;
    color: var(--black-color);
}

.seat:hover {
    transform: translateY(-10%);
    border: none;
}
